.header-top{
    margin-top: 20px;
}
.cartMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBox i.fas.fa-search {
    font-size: 20px;
    /* border: 1px solid; */
    padding: 5px;
    right: 40px;
    margin: 4px 0;
}

i.fas.fa-user,
i.fas.fa-comments,
i.fas.fa-shopping-bag{
    font-size: 30px;
    color: #0091c0
}

.header-top .cartMenu div a{
   text-decoration: none; 
}
.header-top .cartMenu div p{
    font-size: 0.8125rem;
display: blockl;
padding-top: 0.5rem;
color: #303030;
}
span.badge.bg-secondary {
    position: absolute;
}                              
@media only screen and (max-width: 992px){
    .searchBox{
        display: none;
    }
}

                                           